<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<!--
  配置Hibernate的全局环境：
  1. 数据连接信息
  2. 设置数据库连接池
  3. 数据库方言等
 -->
<hibernate-configuration>
    <session-factory>
        <!-- 数据源配置 -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">
            jdbc:mysql://localhost:3306/hibernate-demo?useUnicode=true&amp;characterEncoding=UTF-8
        </property>
        <property name="connection.username">root</property>
        <property name="connection.password">123</property>

        <!-- 配置HikariCP连接池 -->
        <property name="connection.provider_class">org.hibernate.hikaricp.internal.HikariCPConnectionProvider</property>
        <property name="hibernate.hikari.minimumIdle">5</property>
        <property name="hibernate.hikari.maximumPoolSize">20</property>

        <!-- 数据库方言设置 -->
        <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <!--
          自动更新数据库
          update: 动态创建表，如果表存在，则直接使用（即使表结构不一致也不进行检查），如果表不存在，则创建。
          create：无论表是否存在，都会重新创建。若表已经存在，会报错
          create-drop：程序初始化时创建表，结束的时候会自动删除表
          validate：检验实体关系映射文件和数据表是否对应，不能对应直接报错
          -->
        <property name="hbm2ddl.auto">update</property>

        <!-- 配置是否显示并格式化SQL -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <!-- 配置Mapping映射文件，使用注解配置时，只需要保留一个空的Mapping节点 -->
        <mapping resource="hbm.mapping/Customer.hbm.xml"/>
        <mapping resource="hbm.mapping/CustomerOrder.hbm.xml"/>

        <mapping resource="hbm.mapping/Student.hbm.xml"/>
        <mapping resource="hbm.mapping/Course.hbm.xml"/>
    </session-factory>
</hibernate-configuration>