<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<!--
  Hibernate的全局配置：
  1. 数据库连接信息及连接池、数据库方言等
  2. Hibernate特定配置
  3. 映射（Mapping）信息
 -->
<hibernate-configuration>
    <session-factory>
        <!-- 数据源配置 -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">
            jdbc:mysql://localhost:3306/hibernate-demo?useUnicode=true&amp;characterEncoding=UTF-8
        </property>
        <property name="connection.username">root</property>
        <property name="connection.password">123</property>

        <!-- 配置HikariCP连接池 -->
        <property name="connection.provider_class">
            org.hibernate.hikaricp.internal.HikariCPConnectionProvider
        </property>
        <property name="hibernate.hikari.minimumIdle">5</property>
        <property name="hibernate.hikari.maximumPoolSize">20</property>

        <!-- 数据库方言设置 -->
        <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <!--
          自动更新数据库
          update: 动态创建表，如果表存在，则直接使用或更新（更新有时不好用，例如修改varchar字段长度），如果表不存在，则创建。
                  一般在开发时使用此选项
          create：无论表是否存在，都会重新创建。若表已经存在，会先删除再创建
          create-drop：程序初始化时创建表，结束的时候会自动删除表
          validate：检验实体关系映射文件和数据表是否对应，不能对应直接报错
          生产环境一般不配置，最多可能配置成validate
          -->
        <property name="hbm2ddl.auto">update</property>

        <!--
          二级缓存配置（不建议配置，分布式部署时会遇到缓存一致性问题）
          开启二级缓存需要引入相应的hibernate-ehcache或hibernate-jcache包
         -->
        <!--        <property name="hibernate.cache.use_second_level_cache">true</property>-->
        <!--        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache-->
        <!--            .EhCacheRegionFactory-->
        <!--        </property>-->
        <!-- 指定需要缓存的类 -->
        <!--        <class-cache class="com.kingwang.study.entity.Customer" usage="read-only"/>-->

        <!--
          修改Hibernate（其实是数据库）的隔离级别（不建议在这里配置）
          可配置为1、2、4或8，其含义分别为：
          1：Read Uncommitted
          2：Read Committed
          4：Repeatable Read
          8：Serializable
         -->
        <!--        <property name="hibernate.connection.isolation">2</property>-->

        <!-- 让Session对象被ThreadLocal管理 -->
        <!--        <property name="hibernate.current_session_context_class">thread</property>-->

        <!-- 配置是否显示并格式化SQL -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <!-- 配置Mapping映射文件 -->
        <mapping resource="hbm.mapping/Customer.hbm.xml"/>
        <mapping resource="hbm.mapping/CustomerOrder.hbm.xml"/>

        <mapping resource="hbm.mapping/Student.hbm.xml"/>
        <mapping resource="hbm.mapping/Course.hbm.xml"/>
    </session-factory>
</hibernate-configuration>